<html>
    <head>
        <link rel="stylesheet" href= "style.css">
        <body>
            <div class = "container">
                <h1>END</h1>
            </div>
            <div class = "mainIcon">
                <img src="/src/flam.gif">
            </div>
    </head>
