<html>
  <head>
    <title>goose chase</title>
    <link rel="stylesheet" href= "style.css">
  </head>
  <body>
    <div class="header">
      <h1>goose chase<h1>
      <h5>help your bird get back home!<h5>
    </div>


    <div class = "container">
      <a href = "/nameIcon" style="text-decoration:none">
          <button id = "btn">join</button>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a href = "/createRoom">
          <button id = "btn">create</button>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href = "/birds">
        <button id = "btn">birds!</button>
      </a>
    </div>
    <img class = "mainIcon" src="/src/honk_wave.gif"/>
    <div class = "birdContainer">
      <h1> honk says hello! <h1>
    </div>

  </body>
</html>
